:root {
  --primary-color: #295f4e;
  --secondary-color: #a4d4ae;
  --heading-font: "Bacasime Antique", serif;
  --body-font: "Roboto", sans-serif;
  --additional-font: "Playfair Display", serif;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

body {
  background-color: #ddeedf;
}

/* Landing Page */
/* Header section */

.navbar {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-weight: bold;
  font-family: var(--heading-font);
  box-shadow: var(--box-shadow);
}

.navbar .navbar-brand {
  color: var(--primary-color);
  font-weight: bolder;
  font-size: 28px;
}

.navbar a {
  color: var(--primary-color);
  font-weight: bolder;
}

.navbar a:hover {
  color: var(--secondary-color);
  text-decoration: none;
}

.offcanvas {
  background-color: #ddeedf;
  color: var(--primary-color);
  font-family: var(--additional-font);
}

header {
  background-color: var(--secondary-color);
  padding-bottom: 100px;
  padding-top: 20px;
  text-align: center;
}

h2 {
  color: var(--primary-color);
  font-size: 50px;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: 60px;
  margin-bottom: 0;
  font-family: var(--additional-font);
}

h1 {
  font-size: 96px;
  margin-bottom: 0;
  margin-top: 0;
  color: var(--primary-color);
  font-family: var(--heading-font);
}

h3 {
  opacity: 0.7;
  font-size: 36px;
  margin-top: 0;
  font-family: var(--additional-font);
}

.btn-branding {
  background-color: var(--primary-color);
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 18px;
  margin-top: 20px;
  box-shadow: var(--box-shadow);
}

.btn-branding:hover {
  background-color: #ddeedf;
  color: var(--primary-color);
  text-decoration: none;
}

/* Main Section */

h4 {
  font-size: 32px;
  display: block;
  margin: auto;
  text-align: center;
  max-width: 600px;
  font-family: var(--additional-font);
  color: var(--primary-color);
  padding-bottom: 5px;
  border-bottom: 1px solid var(--primary-color);
  margin-bottom: 50px;
}

main {
  padding: 50px 20px;
  margin: 0 auto;
}

p {
  font-family: var(--body-font);
  font-size: 18px;
  line-height: 1.6;
  color: var(--primary-color);
  margin: 20px auto;
}

.btn-branding-two {
  background-color: #ddeedf;
  color: var(--primary-color);
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 18px;
  border: 1px solid var(--primary-color);
  transition: all 200ms ease;
  box-shadow: var(--box-shadow);
}

.btn-branding-two:hover {
  background-color: var(--primary-color);
  color: white;
  text-decoration: none;
}

/* Footer Section */

footer {
  margin: 60px auto 0 auto;
}

.footer-top {
  max-width: 1000px;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #777;
}

i {
  color: var(--primary-color);
  font-size: 26px;
  margin: 10px 10px;
}

a {
  text-decoration: none;
}

/* About Page */

.about-me h3 {
  font-size: 26px;
}

.img-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 20px;
  box-shadow: var(--box-shadow);
  max-width: 100%;
  width: 900px;
}

/* Work Page */

/* Contact Page */
